
.slide#main-container{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.9);
  z-index: 99;
  display: none;
  color: white;
}

.slide#media-holder{
  margin:auto;
  text-align:center;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.slide#message-container{
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: black;
  opacity: 0.6;
  font-size: 16px;
}

.slide#info-container{
  position: absolute;
  background-color: black;
  opacity: 0.7;
  right: 0;
  top: 0;
  text-align: right;
  padding-right: 15px;
  z-index: 100;
}

.slide#info-counter{
  font-size: 26px;
  position: relative;
  margin: 5px;
  font-weight: bold;
}

.slide.info-file{
  margin: 5px;
  font-weight: bold;
}

.slide#toast-message{
  position: absolute;
  background-color: rgba(0,0,0,0.6);
  top: 15px;
  margin: auto;
  text-align: center;
  z-index: 1;
  border-radius: 15px;
  font-weight: 600;
  padding: 5px;
  width: 250px;
  left: 0;
  right: 0;
}

.slide#info-link,.slide#search-link, .slide#info-copyImage{
  cursor: pointer;
}

.slide#media-holder img, .slide#media-holder video{
  position: relative;
  /* user-drag: none; */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.slide#media-holder img.vertical-align, .slide#media-holder video.vertical-align{
  top:50%;
  transform: translateY(-50%);
}

.slide.highlighted-post{
  background-color: cyan;
}

.slide.fullscreen-body{
  overflow: hidden;
}
